/* Core style */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-decoration: none;
  line-height: 1.2;
}

textarea:focus,
select:focus {
  outline: none !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input:focus {
  outline: none !important;
}

a:active,
a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

a {
  display: inline-block;
}

.wrapper {
  overflow: hidden;
}

body {
  background: url(../../images/bg.webp) no-repeat #e1dedd;
  background-size: cover;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #1c1c1c;
  position: relative;
}
body.overflow-hidden {
  overflow: hidden;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.title {
  line-height: 1.1;
  font-family: "Decart";
  font-size: 5.6vw;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
}

.title-big {
  font-size: 83.46px;
  font-weight: 400;
  line-height: 118.27px;
  letter-spacing: 1px;
}

.badge {
  padding: 0 27px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 30px;
  border: 1px solid #1c1c1c;
  font-size: 15px;
  margin-bottom: 30px;
  height: 30px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leave__request,
.leave__request-two {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 60px 220px;
  background: #fff;
  box-shadow: 0px -4px 35px -7px rgba(0, 0, 0, 0.7490196078);
  border-radius: 50px 50px 0px 0px;
  z-index: 999;
  transform: scaleY(0);
  transition: all 0.5s ease;
  transform-origin: bottom;
}
.leave__request .select__filter-inputs .select__option-boxes,
.leave__request-two .select__filter-inputs .select__option-boxes {
  background: #fff;
  display: none;
}
.leave__request .select__filter-inputs .select__option-boxes.active,
.leave__request-two .select__filter-inputs .select__option-boxes.active {
  display: block;
}
.leave__request.active,
.leave__request-two.active {
  transform: scaleY(1);
}
.leave__request-header,
.leave__request-two-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 30px;
}
.leave__request-title,
.leave__request-two-title {
  font-size: 14.75px;
  font-weight: 400;
  line-height: 25.6px;
  color: #245368;
  text-transform: uppercase;
}
.leave__request .form__input-box,
.leave__request-two .form__input-box {
  display: flex;
  gap: 13px;
}
.leave__request .form__input-box:first-child,
.leave__request-two .form__input-box:first-child {
  margin-bottom: 20px;
}
.leave__request .form .form__input,
.leave__request-two .form .form__input {
  width: 302px;
  height: 60px;
  line-height: 60px;
  padding: 21px 41px 21px 41px;
  border-radius: 50px;
  opacity: 0px;
  border: 1px solid #245368;
  color: #245368;
  font-size: 14.3px;
  line-height: 17.3px;
}
.leave__request .form .form__input::-moz-placeholder, .leave__request-two .form .form__input::-moz-placeholder {
  color: #245368;
}
.leave__request .form .form__input::placeholder,
.leave__request-two .form .form__input::placeholder {
  color: #245368;
}
.leave__request .form .multi__select-boxes,
.leave__request-two .form .multi__select-boxes {
  display: flex;
  gap: 15px;
}
.leave__request .form .multi__select-boxes .form__input,
.leave__request-two .form .multi__select-boxes .form__input {
  cursor: pointer;
}
.leave__request .form .send__btn,
.leave__request-two .form .send__btn {
  padding: 22px 40px;
  border-radius: 40px;
  background: #245368;
  font-size: 16.49px;
  font-weight: 400;
  line-height: 19.96px;
  color: #fff;
  margin: 30px 0 41px 0;
}
.leave__request .form .privacy__policy-agreement,
.leave__request-two .form .privacy__policy-agreement {
  font-size: 12.19px;
  font-weight: 400;
  line-height: 20.8px;
  color: #245368;
  text-transform: uppercase;
}
.leave__request .select__filter-inputs .select__box,
.leave__request-two .select__filter-inputs .select__box {
  border-color: #245368;
  color: #245368;
}

@media screen and (max-width: 1100px) {
  .leave__request .select__filter-inputs .select__box,
  .leave__request .select__form,
  .leave__request .filter__container {
    width: 100%;
  }
}
.mdoal {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  z-index: 997;
  display: none;
  color: #245368;
  transition: all 0.7s ease;
  padding-top: 60px;
  overflow-y: scroll;
}
.mdoal.active {
  display: block;
}
.mdoal .content {
  width: 70%;
  margin: 0 auto;
}
.mdoal .content .modal__content-info {
  width: 23%;
}
.mdoal .content h1 {
  font-size: 150px;
  font-weight: 500;
  margin-bottom: 20px;
  margin-right: 30px;
}
.mdoal .content p {
  font-size: 16px;
  margin-bottom: 30px;
}
.mdoal .content__info {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.mdoal .content__info h3 {
  font-size: 40px;
  font-weight: 500;
}
.mdoal .back__btn {
  display: flex;
  align-items: center;
  gap: 13px;
  font-size: 21px;
  color: #245368;
}
.mdoal .back__btn-img {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #245368;
  transition: background-color 0.2s ease;
}
.mdoal .modal__img {
  width: calc(55% - 40px);
  margin: 0 20px;
}
.mdoal .modal__img img {
  width: 100%;
  height: 90vh;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.mdoal .outline__btn {
  background-color: #245368;
  color: white;
  padding: 20px 40px;
  border-radius: 40px;
  white-space: nowrap;
}
.mdoal .modal__content {
  display: flex;
  align-items: start;
}
.mdoal .mini__life {
  width: 22%;
}
.mdoal .mini__life img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1100px) {
  .mdoal .modal__content {
    flex-direction: column;
    align-items: center;
  }
  .mdoal {
    padding-top: 30px;
  }
  .modal__img {
    order: -1;
  }
  .mini__life {
    order: -2;
  }
  .mdoal .content h1,
  .mdoal .content__info h3 {
    font-size: 27px;
    margin-bottom: 0;
  }
  .mdoal .content .modal__content-info {
    width: 100%;
  }
  .media__flex {
    display: flex;
    gap: 30px;
    align-items: start;
    flex-wrap: wrap;
  }
  .mdoal .mini__life {
    width: 60%;
  }
  .mdoal .back__btn {
    font-size: 14px;
  }
  .mdoal .content {
    width: 90%;
  }
  .mdoal .content p {
    margin-bottom: 0;
  }
  .mdoal .outline__btn {
    margin-top: 20px;
    font-size: 12px;
    padding: 15px 20px;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: end;
  color: #fff;
}
.header .outline__btn {
  line-height: 24px;
  text-align: center;
  border: 1px solid #ffffff;
  padding: 16px 28px;
  background: transparent;
  border-radius: 40px;
  color: #fff;
  transition: all 0.2s linear;
  cursor: pointer;
}
.header .outline__btn:hover {
  background: #fff;
  color: #1c1c1c;
}
.header__call {
  margin: 0 57px 0 40px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.header__call.media__block {
  display: none;
}
.header__call-phone {
  color: #fff;
  font-size: 16.05px;
  font-weight: 400;
  line-height: 26.88px;
}
.header__menu {
  width: 74.95px;
  height: 74.95px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
  position: relative;
}
.header__menu::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #d7d5cf;
  z-index: -1;
  border-radius: 37.48px;
  transition: transform 0.2s linear;
}
.header__menu img {
  cursor: pointer;
}
.header__menu:hover::before {
  transform: scale(1.1);
}
.header__right {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1100px) {
  .header {
    justify-content: space-between;
  }
  .header__right {
    gap: 1rem;
  }
  .header__call {
    display: none;
  }
  .header__call.media__block {
    display: flex;
    margin: 0;
  }
  .header__call-icon {
    width: 25px;
    height: 25px;
  }
  .header__menu {
    width: 47px;
    height: 47px;
  }
  .header .outline__btn {
    font-size: 12px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.intro {
  padding: 10px;
  z-index: 1;
  padding: 60px 0 216px 0;
  position: relative;
  border-radius: 0px 0px 65px 65px;
  overflow: hidden;
  height: 96vh;
  transition: all 2s ease;
  background: url(../../images/hero-bg.webp) no-repeat;
  background-size: cover;
}
.intro .container {
  width: 90%;
}
.intro .menu {
  position: fixed;
  top: 0;
  right: 0;
  max-width: 570px;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background: #fff;
  transition: all 0.5s ease;
  padding: 60px 90px;
  transform: translateX(100%);
}
.intro .menu.active {
  transform: translateX(0);
}
.intro .menu__close-btn {
  width: 63px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: auto;
  cursor: pointer;
}
.intro .menu__close-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #3e6071;
  border-radius: 50%;
  transition: transform 0.2s linear;
}
.intro .menu__close-btn:hover::before {
  transform: scale(1.1);
}
.intro .menu__link-btns {
  display: flex;
  row-gap: 10px;
  -moz-column-gap: 5px;
       column-gap: 5px;
  flex-wrap: wrap;
  margin: 32px 0;
}
.intro .menu__link-btn {
  border: 1px solid #3e6071;
  padding: 5px 18px;
  border-radius: 30px;
  font-size: 13.23px;
  font-weight: 400;
  line-height: 19.6px;
  color: #3e6071;
  transition: all 0.2s linear;
}
.intro .menu__link-btn:hover {
  background: #3e6071;
  color: #fff;
}
.intro .menu__btn {
  background: #3e6071;
  padding: 16px 28px;
  font-size: 16.62px;
  font-weight: 400;
  line-height: 24.19px;
  color: #fff;
  border-radius: 40px;
}
.intro .menu .send__aplication-btn {
  margin-top: 12px;
}
.intro .menu .phone__box {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16.05px;
  font-weight: 400;
  line-height: 26.88px;
  color: #3e6071;
  margin-top: 17px;
}
.intro__info-box {
  margin-top: 60px;
  color: #fff;
}
.intro__title {
  font-size: 81.99px;
  font-weight: 400;
  line-height: 118.27px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.intro__description {
  margin: 29px 0 0 150px;
  font-size: 19.95px;
  font-weight: 300;
  line-height: 29.57px;
  max-width: 453px;
}
.intro .premium__aparment-box {
  position: absolute;
  background: url(../images/lines-bg.png) no-repeat;
  background-size: cover;
  padding: 55px 50px;
  border-radius: 50px;
  color: #fff;
  max-width: 407px;
  bottom: 100px;
  right: 192px;
}
.intro .premium__aparment-box .description {
  font-size: 20.28px;
  font-weight: 400;
  line-height: 29.57px;
  margin: 22px 0;
}
.intro .premium__aparment-box .select__aparment-btn {
  border-radius: 40px;
  background: #fff;
  color: #1c1c1c;
  padding: 16px 28px;
}

.menu__overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 999;
  left: 0;
  top: 0;
  background-color: black;
  opacity: 0.5;
  display: none;
  transition: all 0.5s ease;
}
.menu__overlay.active {
  display: block;
}

.numbers {
  position: relative;
  z-index: 0;
  margin: 234px 0 32px 0;
}
.numbers .container {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.numbers__swiper, .numbers__swiper-two {
  max-width: 1267px;
  margin-left: 228px;
}
.numbers__swiper .swiper__slide-title, .numbers__swiper-two .swiper__slide-title {
  font-family: "Decart";
  font-weight: 400;
  font-size: 5.6vw;
  width: -moz-fit-content;
  width: fit-content;
}
.numbers__swiper .swiper__slide-description, .numbers__swiper-two .swiper__slide-description {
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 300;
  line-height: 29.57px;
  margin-left: 75px;
  position: relative;
}
.numbers__swiper .swiper__slide-description::before, .numbers__swiper-two .swiper__slide-description::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -78px;
  width: 119.99px;
  height: 1px;
  transform: rotate(-40deg);
  background: #1c1c1c;
}

.location {
  margin-top: 100px;
}
.location .title {
  margin-bottom: 30px;
}
.location__sidebars {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.location .map__box {
  max-width: 777px;
  height: 42vw;
  border-radius: 60px;
}
.location .map__box iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: inherit;
}
.location__description {
  max-width: 42%;
  width: 100%;
}
.location__description-info {
  width: 25vw;
  font-size: 21px;
  font-weight: 300;
  line-height: 30px;
  margin-top: 10px;
}
.location__title {
  font-family: "Decart";
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2.2vw;
}
.location__title.last {
  margin-top: 50px;
}
.location__swiper {
  margin-top: 80px;
}
.location__swiper .swiper-slide img {
  width: 100%;
  max-height: 768px;
  border-radius: 60px;
}
.location__swiper .swiper__btns {
  position: absolute;
  bottom: 35px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}

.architecture {
  margin-top: 200px;
}
.architecture .swiper-container {
  margin-left: 60px;
}
.architecture .swiper__img {
  width: 100%;
  height: 80vh;
  border-radius: 55px;
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.architecture .swiper__content-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.architecture .swiper__content-info {
  width: calc(46% - 50px);
}
.architecture .swiper__title {
  font-family: "Decart", sans-serif;
  font-size: 2.2vw;
  font-weight: 400;
  line-height: 59.14px;
  text-transform: uppercase;
}
.architecture .swiper__desc {
  margin-top: 10px;
  font-size: 21px;
  font-weight: 300;
  line-height: 30px;
}
.architecture__parent-swiper {
  padding-top: 100px;
  margin-top: 20px;
}
.architecture__parent-swiper .swiper-pagination {
  top: 0;
  left: 96px;
  bottom: auto;
}

.choose__apartments {
  margin-top: 120px;
}
.choose__apartments .title__box {
  display: flex;
  align-items: center;
  gap: 80px;
}
.choose__apartments .title__box .desc__title {
  font-family: "Decart";
  text-transform: uppercase;
  font-size: 2.2vw;
}
.choose__apartments .title__box .description {
  font-size: 20.11px;
  font-weight: 300;
  line-height: 29.57px;
  width: 25vw;
  margin-bottom: 60px;
  margin-top: 9px;
}
.choose__apartments .relative__box {
  position: relative;
}
.choose__apartments-bg {
  position: relative;
  max-width: 70%;
  max-height: 6611.98px;
  width: 100%;
  overflow: hidden;
  border-radius: 60px;
}
.choose__apartments-bg img {
  width: 100%;
  height: 100%;
}
.choose__apartments .choose__apartment {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.choose__apartments .choose__apartment .korpus {
  opacity: 0;
  cursor: pointer;
  transition: all 0.3s ease;
  fill: white;
}
.choose__apartments .choose__apartment .korpus:hover, .choose__apartments .choose__apartment .korpus.selected {
  opacity: 0.6;
  fill: white;
}
.choose__apartments .plan__desc-wrapper {
  position: absolute;
  top: -50px;
  right: 50px;
  background: #3f5f72;
  padding: 60px 60px 70px 60px;
  border-radius: 55px;
  color: #fff;
  max-width: 570.23px;
  width: 100%;
}
.choose__apartments .plan__desc-wrapper-header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}
.choose__apartments .plan__desc-wrapper-header h4 {
  font-size: 20.28px;
  font-weight: 400;
  line-height: 29.57px;
}
.choose__apartments .plan__desc-wrapper .plan__title {
  font-family: "Decart";
  text-transform: uppercase;
  font-size: 2.2vw;
}
.choose__apartments .plan__desc-wrapper .plan__desc {
  font-size: 20px;
  font-weight: 400;
  line-height: 29.57px;
  font-weight: 300;
}
.choose__apartments .plan__desc-wrapper .plan__desc-bold {
  margin: 29px 0 20px 0;
  font-weight: bold;
  max-width: 65%;
}
.choose__apartments .plan__desc-wrapper .plan__desc-btn {
  background: #fff;
  font-size: 16.62px;
  font-weight: 400;
  line-height: 24.19px;
  border-radius: 40px;
  padding: 16px 28px;
  color: #1c1c1c;
}
.choose__apartments .plan__desc-wrapper .plan__tab-content {
  display: none;
}
.choose__apartments .plan__desc-wrapper .plan__tab-content.active {
  display: block;
}

.partners .swiper {
  margin-left: 94px;
}
.partners .swiper-slide {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.partners .swiper__slide-description {
  font-size: 19px;
  margin-top: 40px;
}
.partners .swiper__slide-description span.bold {
  font-weight: 500;
}
.partners .swiper__slide-description::before {
  top: 36px;
  left: -125px;
}
.partners__logo {
  width: 50%;
}

.construction .galery__box-btn {
  background: #3e6071;
  padding: 15px 28px;
  font-size: 16.76px;
  font-weight: 400;
  color: #fff;
  border-radius: 40px;
  margin-top: 30px;
  line-height: 24.19px;
}

.choose__apartments .container .select__filter .select__filter-inputs .select__box {
  justify-content: center;
}
.choose__apartments .filter__tab-content {
  display: none;
  animation: foo 0.3s linear;
}
.choose__apartments .filter__tab-content.active {
  display: block;
}
@keyframes foo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.select__filter {
  margin-top: 50px;
}
.select__filter-inputs {
  display: flex;
  align-items: center;
  gap: 18px;
  justify-content: center;
}
.select__filter-inputs h5 {
  font-size: 20.61px;
  font-weight: 400;
  line-height: 29.57px;
}
.select__filter-inputs .select__box {
  position: relative;
  width: 190px;
  text-align: center;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14.77px;
  font-weight: 400;
  line-height: 21px;
  border: 1px solid #151515;
  border-radius: 30px;
  padding: 0 26px;
  cursor: pointer;
}
.select__filter-inputs .select__option-boxes {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #151515;
  border-radius: 30px;
  background: #e1dedd;
  z-index: 10;
  overflow: hidden;
  transform: scaleY(0);
  transition: all 0.2s linear;
  transform-origin: top;
}
.select__filter-inputs .select__option-boxes.active {
  transform: scaleY(1);
}
.select__filter-inputs .select__option-boxes .option__box {
  padding: 14px 25px;
  width: 100%;
}
.select__filter-inputs .select__option-boxes .option__box:hover {
  color: #fff;
  background: #151515;
}
.select__filter .select__form {
  text-align: center;
}
.select__filter .select__form h5 {
  margin-bottom: 10px;
}
.select__filter .filter__top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 25px;
}
.select__filter .filter__top p,
.select__filter .filter__top button {
  font-size: 20px;
  font-weight: 300;
  line-height: 29.57px;
}
.select__filter .clear__filter {
  display: flex;
  align-items: center;
  gap: 8px;
}

.filter__table {
  margin-top: 25px;
}
.filter__table-header {
  padding: 42px 0;
  border-bottom: 1px solid #b9b8b7;
  background: #dbd8d7;
}
.filter__table-header .header__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 97px;
  width: 77%;
  margin: 0 auto;
  padding: 0 90px;
}
.filter__table-header .header__content > div {
  width: 20%;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.filter__table-header .header__content > div p {
  font-size: 15px;
  font-weight: 300;
  white-space: nowrap;
  line-height: 21px;
}
.filter__table .filter__table-tr {
  width: 77%;
  margin: 0 auto;
  border-bottom: 1px solid #b9b8b7;
  padding: 15px 90px 19px 90px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.filter__table .filter__table-tr:hover {
  background: #f1efef;
}
.filter__table .filter__table-tr .img__box {
  background: #ffffff;
  width: 115px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter__table .filter__table-tr .content__box {
  width: 100%;
  margin-left: 90px;
}
.filter__table .filter__table-tr .content__box p {
  font-size: 21.1px;
  font-weight: 300;
  line-height: 29.57px;
  text-transform: capitalize;
}
.filter__table .filter__table-tr .content__box .top {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 50px;
  justify-content: space-between;
}
.filter__table .filter__table-tr .content__box .top p {
  font-weight: 600;
}
.filter__table .filter__table-tr .content__box .top span {
  font-size: 17.8px;
  font-weight: 400;
  line-height: 29.57px;
}
.filter__table .btn__content {
  margin-left: 290px;
  margin-top: 38px;
}
.filter__table .btn__content .logo {
  background: rgba(255, 255, 255, 0.6);
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.filter__table .btn__content .read__more {
  display: flex;
  align-items: center;
  gap: 13px;
  margin-left: 250px;
}

.footer {
  margin-top: 100px;
}
.footer__location {
  font-size: 13.95px;
  line-height: 21px;
  text-transform: uppercase;
}
.footer .title {
  margin: 23px 0 10px;
}
.footer__number {
  font-size: 20px;
  line-height: 28px;
  color: #1c1c1c;
  margin-bottom: 40px;
  font-weight: bold;
}
.footer__title {
  font-family: "Decart";
  text-transform: uppercase;
  font-size: 2.2vw;
}
.footer__content-left {
  width: 40%;
}
.footer__desc {
  font-size: 19.95px;
  line-height: 29.57px;
  width: 80%;
  margin: 20px 0;
  font-weight: 300;
}
.footer__contents {
  display: flex;
  align-items: start;
  gap: 110px;
}
.footer__link {
  font-size: 21px;
  line-height: 29.57px;
  color: #1c1c1c;
  position: relative;
  display: block;
  font-weight: 300;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 10px;
}
.footer__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #1c1c1c;
  height: 1px;
}
.footer__logo {
  margin: 70px 0 20px;
  display: flex;
  align-items: start;
}
.footer__logo-name {
  margin: 60px 0 0 90px;
  position: relative;
  font-size: 21px;
  font-weight: 300;
  line-height: 29.57px;
  text-transform: uppercase;
}
.footer__logo-name::before {
  content: "";
  position: absolute;
  top: -12px;
  left: -90px;
  width: 90px;
  height: 1px;
  background: #1c1c1c;
  transform: rotate(-40deg);
}
.footer .social__media {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.footer .social__media-link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 21px;
  font-weight: 300;
  line-height: 29.57px;
  color: #1c1c1c;
}
.footer .social__media-link span {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.footer .social__media-link span::before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  background: #1c1c1c;
  height: 1px;
}
.footer .outline__btn {
  font-size: 16.22px;
  font-weight: 400;
  line-height: 24.19px;
  padding: 16px 28px;
  border-radius: 40px;
  background: #245368;
  color: #fff;
  margin-top: 40px;
}

@media screen and (max-width: 1350px) {
  .numbers__swiper .swiper__slide-description,
  .numbers__swiper-two .swiper__slide-description {
    font-size: 13px;
  }
  .numbers__swiper,
  .numbers__swiper-two {
    margin-left: 70px;
  }
}
.swiper-notification {
  display: none;
}

@media screen and (max-width: 1350px) {
  .choose__apartments .plan__desc-wrapper {
    width: calc(50% - 120px);
    right: 0px;
  }
}
@media screen and (max-width: 1200px) {
  .filter__table .filter__table-tr {
    width: 100%;
  }
  .filter__table-header .header__content {
    width: 100%;
  }
  .filter__table-header .header__content > div {
    width: 100%;
  }
}
.media__block {
  display: none;
}

.filter__table .btn__content {
  margin-left: 30px;
}

@media screen and (max-width: 1200px) {
  .filter__table .btn__content .read__more {
    margin-left: 0;
  }
}
@media screen and (max-width: 1100px) {
  .filter__table .filter__table-tr {
    padding-left: 0;
    padding-right: 0;
    width: 90%;
    margin: 0 auto;
  }
  .filter__table .filter__table-tr .img__box {
    display: none;
  }
  .filter__table-header .header__content {
    width: 90%;
    margin: 0 auto;
  }
  .filter__table-header .header__content {
    gap: 0;
    padding-left: 0;
    padding-right: 0;
    justify-content: space-between;
  }
  .filter__table .filter__table-tr .content__box .top p {
    display: none;
  }
  .filter__table .filter__table-tr .content__box p:last-child {
    display: none;
  }
  .filter__table .filter__table-tr .content__box p {
    font-size: 14px;
  }
  .filter__table .filter__table-tr .content__box .top span {
    font-size: 14px;
    white-space: nowrap;
  }
  .filter__table .filter__table-tr .content__box .top {
    gap: 0;
  }
  .filter__table-header .header__content > div p {
    font-size: 14px;
  }
  .filter__table-header .header__content > div:nth-child(1), .filter__table-header .header__content > div:nth-child(2),
  .filter__table-header .header__content > div .media__none {
    display: none;
  }
  .filter__table-header .header__content > div:nth-child(5), .filter__table-header .header__content > div:nth-child(4) {
    justify-content: center;
  }
  .filter__table-header .header__content > div:last-child {
    justify-content: end;
  }
  .filter__table .filter__table-tr .content__box p {
    display: none;
  }
  .media__block {
    display: block !important;
    text-transform: uppercase;
  }
  .filter__table-header {
    padding: 38px 0;
  }
  .filter__table .filter__table-tr .content__box {
    margin-left: 0;
  }
  .intro {
    padding: 30px 0 0 0;
    overflow: visible;
    height: -moz-fit-content;
    height: fit-content;
  }
  .intro .video-container {
    height: 100%;
  }
  .intro__info-box {
    margin-top: 20px;
    margin-bottom: -50px;
  }
  .intro__description {
    font-size: 14px;
    margin-left: 0;
    max-width: 100%;
    margin-top: 10px;
  }
  .intro__description br {
    display: none;
  }
  .intro .premium__aparment-box {
    max-width: 786px;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    margin-top: 0;
    margin-left: 54px;
    margin-right: 64px;
    border-radius: 50px;
    transform: translateY(100px);
    padding: 35px;
    background-size: 100% 100%;
  }
  .location__sidebars {
    flex-direction: column;
    gap: 30px;
  }
  .location .map__box {
    border-radius: 30px;
    height: 300px;
  }
  .location__title {
    font-size: 20px;
    line-height: 28px;
  }
  .location .map__box,
  .location__description {
    max-width: 100%;
    width: 100%;
  }
  .location__description-info {
    width: 100%;
  }
  .location .title br {
    display: none;
  }
  .location__swiper .swiper-slide img {
    height: 280px;
    border-radius: 50px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .location__swiper {
    margin-top: 30px;
  }
  .architecture {
    margin-top: 90px;
  }
  .architecture .swiper__content-box {
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 20px;
  }
  .architecture .swiper-container {
    max-width: 90%;
    margin: 0 auto;
  }
  .architecture .swiper__img {
    width: 100%;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50px;
  }
  .architecture .swiper__content-info {
    width: 100%;
  }
  .architecture .swiper__desc {
    font-size: 14px;
    line-height: normal;
  }
  .architecture .swiper__title {
    font-size: 20px;
    line-height: 26px;
  }
  .architecture__swiper-two .badge {
    display: none;
  }
  .choose__apartments .title__box {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
  .choose__apartments .title__box .description {
    width: 100%;
    margin-bottom: 30px;
  }
  .choose__apartments .plan__desc-wrapper {
    position: relative;
    width: 100%;
    max-width: 100%;
    top: 0;
    border-radius: 40px;
    padding: 50px;
  }
  .choose__apartments-bg {
    max-width: 100%;
    border-radius: 40px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .choose__apartments {
    margin-top: 30px;
  }
  .choose__apartments .plan__desc-wrapper .plan__desc,
  .choose__apartments .plan__desc-wrapper-header h4,
  .choose__apartments .plan__desc-wrapper .plan__desc-bold {
    font-size: 14px;
    line-height: normal;
  }
  .choose__apartments .plan__desc-wrapper .plan__desc-btn {
    font-size: 12px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .choose__apartments .plan__desc-wrapper .plan__title {
    font-size: 20px;
  }
  .numbers.partners .container {
    display: block;
  }
  .partners .swiper {
    margin: 30px 0 0 0;
  }
  .partners .swiper-slide {
    justify-content: start;
    gap: 100px;
  }
  .partners__logo {
    width: 40%;
  }
  .footer {
    margin: 80px 0 40px 0;
  }
  .footer__contents {
    flex-direction: column;
    gap: 60px;
  }
  .footer__content-left {
    width: 100%;
  }
  .footer__logo-name {
    font-size: 14px;
  }
  .footer__logo-name br {
    display: none;
  }
  .footer__logo-name::before {
    transform: rotate(-30deg);
    top: -5px;
  }
  .footer .social__media-link span {
    font-size: 14px;
  }
  .footer .outline__btn {
    margin-top: 15px;
    font-size: 12px;
    padding: 15px 27px;
  }
  .footer__title {
    font-size: 20px;
    line-height: 28px;
    line-height: normal;
  }
  .footer__desc {
    font-size: 14px;
    width: 100%;
    margin: 20px 0 0 0;
    line-height: normal;
  }
  .footer__link {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .footer__link::before {
    bottom: 2px;
  }
  .intro .menu {
    max-width: 100%;
    padding: 60px 50px;
  }
  .intro .menu .link__logo {
    width: 100px;
    height: 100px;
  }
  .intro .menu__link-btn {
    font-size: 13px;
    padding: 5px 17px;
  }
  .intro .menu__btn {
    font-size: 12px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: -moz-fit-content;
    width: fit-content;
  }
  .intro .menu .phone__box {
    font-size: 15px;
  }
  .intro .menu .phone__box img {
    width: 25px;
    height: 25px;
  }
  .intro .menu__close-btn {
    width: 43px;
    height: 43px;
  }
  .leave__request {
    padding: 60px 100px;
  }
  .close__contact-btn {
    position: absolute;
    right: 70px;
    top: 40px;
  }
  .leave__request .form .privacy__policy-agreement br {
    display: none;
  }
  .leave__request .form .multi__select-boxes {
    flex-direction: column;
  }
  .leave__request .form .multi__select-boxes .form__input,
  .leave__request .form .form__input {
    width: 100%;
  }
  .leave__request .form__input-box {
    flex-direction: column;
  }
  .leave__request .form .send__btn {
    margin: 20px 0;
  }
  .select__filter .filter__top p,
  .select__filter .filter__top button {
    font-size: 14px;
  }
  .select__filter .filter__top {
    flex-direction: column;
    row-gap: 0;
  }
  .select__filter .filter__top button img {
    width: 10px;
    height: 10px;
  }
  .select__filter-inputs {
    flex-direction: column;
  }
  .select__filter .select__form h5 {
    font-weight: 300;
    font-size: 14px;
  }
}
@media screen and (max-width: 1015px) {
  .footer__logo {
    flex-direction: column;
  }
  .numbers__swiper,
  .numbers__swiper-two {
    max-width: 50%;
    margin-left: auto;
    margin-right: 0;
  }
  .numbers .title {
    width: 35%;
  }
  .numbers__swiper .swiper__slide-description::before {
    width: 120px;
    height: 1px;
    background-color: #1c1c1c;
    transform: rotate(-10deg);
    position: relative;
    display: block;
    top: -8px;
    left: 0;
  }
  .numbers__swiper .swiper__slide-description,
  .numbers__swiper-two .swiper__slide-description {
    margin-left: 0;
  }
  .numbers__swiper .swiper__slide-description br,
  .numbers__swiper-two .swiper__slide-description br {
    display: none;
  }
  .location__title.last {
    margin-top: 30px;
  }
  .choose__apartments .title__box .description {
    font-size: 14px;
    line-height: normal;
  }
}
@media screen and (max-width: 992px) {
  .footer__logo img {
    width: 250px;
  }
  .numbers {
    margin: 140px 0 0 0;
  }
  .numbers.partners {
    margin-top: 50px;
  }
  .footer__contents {
    gap: 30px;
  }
  .location {
    margin-top: 35px;
  }
  .intro {
    border-radius: 0 0 40px 40px;
  }
  .numbers__swiper,
  .numbers__swiper-two {
    margin: 0;
  }
  .title,
  .numbers__swiper .swiper__slide-title,
  .numbers__swiper-two .swiper__slide-title {
    font-size: 40px;
  }
  .numbers__swiper .swiper__slide-description,
  .numbers__swiper-two .swiper__slide-description {
    line-height: normal;
    margin-top: 13px;
  }
  .numbers__swiper .swiper__slide-description::before {
    top: -18px;
  }
  .partners .swiper {
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .location__description-info {
    font-size: 15px;
    line-height: normal;
  }
  .architecture {
    margin-top: 50px;
  }
  .leave__request {
    padding: 60px 37px;
  }
  .close__contact-btn {
    position: absolute;
    right: 33px;
    top: 33px;
  }
  .leave__request .form .multi__select-boxes .form__input,
  .leave__request .form .form__input {
    height: 57px;
  }
  .filter__table .btn__content {
    margin-left: 20px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 576px) {
  .intro .premium__aparment-box {
    transform: translateY(51px);
    margin-left: 20px;
    margin-right: 50px;
  }
  .intro .video-container {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }
  .intro .video-container::after {
    height: 100%;
    border-radius: 0;
  }
  .header__call.media__block {
    align-items: center;
    display: flex !important;
  }
}
@media screen and (max-width: 480px) {
  .numbers__swiper-two .swiper__slide-description {
    margin-top: 40px;
  }
  .partners .swiper__slide-description::before {
    top: 5px;
    left: -120px;
  }
  .header .outline__btn {
    padding: 0 23px;
  }
  .intro .premium__aparment-box {
    margin-left: 24px;
  }
  .intro .premium__aparment-box .description {
    font-size: 14px;
  }
  .header {
    flex-wrap: wrap;
    row-gap: 1rem;
  }
}
.swiper__btns {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}
.swiper__btns .swiper__btn {
  cursor: pointer;
  transition: all 0.3s ease;
}
.swiper__btns .swiper__btn:hover {
  transform: scale(0.9);
}

.swiper__pagination-btns {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
}
.swiper__pagination-btns button {
  padding: 0 28px;
  border-radius: 30px;
  border: 1px solid #1c1c1c;
  background: transparent;
  font-size: 19.29px;
  font-weight: 400;
  height: 40px;
  line-height: 40px;
  width: -moz-fit-content;
  width: fit-content;
  opacity: 1;
  text-transform: capitalize;
}
.swiper__pagination-btns button.active {
  background: #1c1c1c;
  color: #fff;
}

@media screen and (max-width: 1100px) {
  .swiper__btns .swiper__btn {
    width: 45px;
    height: 45px;
  }
  .swiper__btns .swiper__btn img {
    width: 100%;
    height: 100%;
  }
  .swiper__btns {
    margin-top: 20px;
  }
  .swiper__btns {
    gap: 10px;
  }
  .swiper__pagination-btns {
    margin: 20px 0 30px 0;
  }
  .swiper__pagination-btns button {
    padding: 0 27px;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
  }
}/*# sourceMappingURL=main.css.map */