// intro
.intro {
  padding: 10px;
  z-index: 1;
  padding: 60px 0 216px 0;
  position: relative;
  border-radius: 0px 0px 65px 65px;
  overflow: hidden;
  height: 96vh;
  transition: all 2s ease;
  background: url(../../images/hero-bg.webp) no-repeat;
  background-size: cover;
  .container {
    width: 90%;
  }
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 570px;
    width: 100%;
    height: 100vh;
    z-index: 999;
    background: #fff;
    transition: all 0.5s ease;
    padding: 60px 90px;
    transform: translateX(100%);

    &.active {
      transform: translateX(0);
    }
    &__close-btn {
      width: 63px;
      height: 63px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin-left: auto;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid #3e6071;
        border-radius: 50%;
        transition: transform 0.2s linear;
      }
      &:hover::before {
        transform: scale(1.1);
      }
    }

    &__link-btns {
      display: flex;
      row-gap: 10px;
      column-gap: 5px;
      flex-wrap: wrap;
      margin: 32px 0;
    }
    &__link-btn {
      border: 1px solid #3e6071;
      padding: 5px 18px;
      border-radius: 30px;
      font-size: 13.23px;
      font-weight: 400;
      line-height: 19.6px;
      color: #3e6071;
      transition: all 0.2s linear;
      &:hover {
        background: #3e6071;
        color: #fff;
      }
    }
    &__btn {
      background: #3e6071;
      padding: 16px 28px;
      font-size: 16.62px;
      font-weight: 400;
      line-height: 24.19px;
      color: #fff;
      border-radius: 40px;
    }
    .send__aplication-btn {
      margin-top: 12px;
    }
    .phone__box {
      display: flex;
      align-items: center;
      gap: 12px;
      font-size: 16.05px;
      font-weight: 400;
      line-height: 26.88px;
      color: #3e6071;
      margin-top: 17px;
    }
  }
  &__info-box {
    margin-top: 60px;
    color: #fff;
  }
  &__title {
    font-size: 81.99px;
    font-weight: 400;
    line-height: 118.27px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  &__description {
    margin: 29px 0 0 150px;
    font-size: 19.95px;
    font-weight: 300;
    line-height: 29.57px;
    max-width: 453px;
  }
  .premium__aparment-box {
    position: absolute;
    background: url(../images/lines-bg.png) no-repeat;
    background-size: cover;
    padding: 55px 50px;
    border-radius: 50px;
    color: #fff;
    max-width: 407px;
    bottom: 100px;
    right: 192px;

    .description {
      font-size: 20.28px;
      font-weight: 400;
      line-height: 29.57px;
      margin: 22px 0;
    }
    .select__aparment-btn {
      border-radius: 40px;
      background: #fff;
      color: #1c1c1c;
      padding: 16px 28px;
    }
  }
}

// menu overlay
.menu__overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 999;
  left: 0;
  top: 0;
  background-color: black;
  opacity: 0.5;
  display: none;
  transition: all 0.5s ease;

  &.active {
    display: block;
  }
}

// numbers
.numbers {
  position: relative;
  z-index: 0;
  margin: 234px 0 32px 0;
  .container {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
  &__swiper,
  &__swiper-two {
    max-width: 1267px;
    margin-left: 228px;
    .swiper__slide-title {
      font-family: "Decart";
      font-weight: 400;
      font-size: 5.6vw;
      width: fit-content;
    }
    .swiper__slide-description {
      text-transform: uppercase;
      font-size: 21px;
      font-weight: 300;
      line-height: 29.57px;
      margin-left: 75px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 2px;
        left: -78px;
        width: 119.99px;
        height: 1px;
        transform: rotate(-40deg);
        background: #1c1c1c;
      }
    }
  }
}

// location
.location {
  margin-top: 100px;

  .title {
    margin-bottom: 30px;
  }
  &__sidebars {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }
  .map__box {
    max-width: 777px;
    height: 42vw;
    border-radius: 60px;
    overflow: hidden;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
  &__description {
    max-width: 42%;
    width: 100%;
    &-info {
      width: 25vw;
      font-size: 21px;
      font-weight: 300;
      line-height: 30px;
      margin-top: 10px;
    }
  }
  &__title {
    font-family: "Decart";
    font-weight: 400;
    text-transform: uppercase;
    font-size: 2.2vw;

    &.last {
      margin-top: 50px;
    }
  }

  &__swiper {
    margin-top: 80px;
    .swiper-slide {
      img {
        width: 100%;
        max-height: 768px;
        border-radius: 60px;
      }
    }
    .swiper__btns {
      position: absolute;
      bottom: 35px;
      left: 50%;
      z-index: 1;
      transform: translateX(-50%);
    }
  }
}

// architecture
.architecture {
  margin-top: 200px;
  .swiper-container {
    margin-left: 60px;
  }
  .swiper__img {
    width: 100%;
    height: 80vh;
    border-radius: 55px;
    width: 50%;
    object-fit: cover;
  }
  .swiper__content-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .swiper__content-info {
    width: calc(46% - 50px);
  }
  .swiper__title {
    font-family: "Decart", sans-serif;
    font-size: 2.2vw;
    font-weight: 400;
    line-height: 59.14px;
    text-transform: uppercase;
  }
  .swiper__desc {
    margin-top: 10px;
    font-size: 21px;
    font-weight: 300;
    line-height: 30px;
  }

  &__parent-swiper {
    padding-top: 100px;
    margin-top: 20px;
    .swiper-pagination {
      top: 0;
      left: 96px;
      bottom: auto;
    }
  }
}

// choose__apartments
.choose__apartments {
  margin-top: 120px;

  .title__box {
    display: flex;
    align-items: center;
    gap: 80px;

    .desc__title {
      font-family: "Decart";
      text-transform: uppercase;
      font-size: 2.2vw;
    }
    .description {
      font-size: 20.11px;
      font-weight: 300;
      line-height: 29.57px;
      width: 25vw;
      margin-bottom: 60px;
      margin-top: 9px;
    }
  }
  .relative__box {
    position: relative;
  }

  &-bg {
    position: relative;
    max-width: 70%;
    max-height: 6611.98px;
    width: 100%;
    overflow: hidden;
    border-radius: 60px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .choose__apartment {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .korpus {
      opacity: 0;
      cursor: pointer;
      transition: all 0.3s ease;
      fill: white;

      &:hover,
      &.selected {
        opacity: 0.6;
        fill: white;
      }
    }
  }
  .plan__desc-wrapper {
    position: absolute;
    top: -50px;
    right: 50px;
    background: #3f5f72;
    padding: 60px 60px 70px 60px;
    border-radius: 55px;
    color: #fff;
    max-width: 570.23px;
    width: 100%;

    &-header {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 40px;

      h4 {
        font-size: 20.28px;
        font-weight: 400;
        line-height: 29.57px;
      }
    }
    .plan__title {
      font-family: "Decart";
      text-transform: uppercase;
      font-size: 2.2vw;
    }
    .plan__desc {
      font-size: 20px;
      font-weight: 400;
      line-height: 29.57px;
      font-weight: 300;

      &-bold {
        margin: 29px 0 20px 0;
        font-weight: bold;
        max-width: 65%;
      }
    }
    .plan__desc-btn {
      background: #fff;
      font-size: 16.62px;
      font-weight: 400;
      line-height: 24.19px;
      border-radius: 40px;
      padding: 16px 28px;
      color: #1c1c1c;
    }
    .plan__tab-content {
      display: none;
      &.active {
        display: block;
      }
    }
  }
}

// partners
.partners {
  .swiper {
    margin-left: 94px;
  }
  .swiper-slide {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
  .swiper__slide-description {
    font-size: 19px;
    margin-top: 40px;

    span.bold {
      font-weight: 500;
    }
    &::before {
      top: 36px;
      left: -125px;
    }
  }
  &__logo {
    width: 50%;
  }
}
// construction
.construction {
  .galery__box {
    &-btn {
      background: #3e6071;
      padding: 15px 28px;
      font-size: 16.76px;
      font-weight: 400;
      color: #fff;
      border-radius: 40px;
      margin-top: 30px;
      line-height: 24.19px;
    }
  }
}
.choose__apartments {
  .container {
    .select__filter {
      .select__filter-inputs {
        .select__box {
          justify-content: center;
        }
      }
    }
  }

  .filter__tab-content {
    display: none;
    animation: foo .3s linear;

    &.active {
      display: block;
    }
  }
  @keyframes foo {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
// select filter
.select__filter {
  margin-top: 50px;
  &-inputs {
    display: flex;
    align-items: center;
    gap: 18px;
    justify-content: center;

    h5 {
      font-size: 20.61px;
      font-weight: 400;
      line-height: 29.57px;
    }
    .select__box {
      position: relative;
      width: 190px;
      text-align: center;
      height: 51px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 14.77px;
      font-weight: 400;
      line-height: 21px;
      border: 1px solid #151515;
      border-radius: 30px;
      padding: 0 26px;
      cursor: pointer;
    }
    .select__option-boxes {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      border: 1px solid #151515;
      border-radius: 30px;
      background: #e1dedd;
      z-index: 10;
      overflow: hidden;
      transform: scaleY(0);
      transition: all 0.2s linear;
      transform-origin: top;
      &.active {
        transform: scaleY(1);
      }
      .option__box {
        padding: 14px 25px;
        width: 100%;

        &:hover {
          color: #fff;
          background: #151515;
        }
      }
    }
  }
  .select__form {
    text-align: center;

    h5 {
      margin-bottom: 10px;
    }
  }
  .filter__top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 25px;

    p,
    button {
      font-size: 20px;
      font-weight: 300;
      line-height: 29.57px;
    }
  }
  .clear__filter {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
.filter__table {
  margin-top: 25px;
  &-header {
    .header__content {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 97px;
      width: 77%;
      margin: 0 auto;
      padding: 0 90px;

      & > div {
        width: 20%;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        p {
          font-size: 15px;
          font-weight: 300;
          white-space: nowrap;
          line-height: 21px;
        }
      }
    }
    padding: 42px 0;
    border-bottom: 1px solid #b9b8b7;
    background: #dbd8d7;
  }
  .filter__table-tr {
    width: 77%;
    margin: 0 auto;
    border-bottom: 1px solid #b9b8b7;
    padding: 15px 90px 19px 90px;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      background: #f1efef;
    }
    .img__box {
      background: #ffffff;
      width: 115px;
      height: 100px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .content__box {
      width: 100%;
      margin-left: 90px;
      p {
        font-size: 21.1px;
        font-weight: 300;
        line-height: 29.57px;
        text-transform: capitalize;
      }
      .top {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 50px;
        justify-content: space-between;
        p {
          font-weight: 600;
        }
        span {
          font-size: 17.8px;
          font-weight: 400;
          line-height: 29.57px;
        }
      }
    }
  }
  .btn__content {
    margin-left: 290px;
    margin-top: 38px;
    .logo {
      background: #ffffff99;
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
    .read__more {
      display: flex;
      align-items: center;
      gap: 13px;
      margin-left: 250px;
    }
  }
}

// footer
.footer {
  margin-top: 100px;
  &__location {
    font-size: 13.95px;
    line-height: 21px;
    text-transform: uppercase;
  }
  .title {
    margin: 23px 0 10px;
  }
  &__number {
    font-size: 20px;
    line-height: 28px;
    color: #1c1c1c;
    margin-bottom: 40px;
    font-weight: bold;
  }
  &__title {
    font-family: "Decart";
    text-transform: uppercase;
    font-size: 2.2vw;
  }
  &__content-left {
    width: 40%;
  }
  &__desc {
    font-size: 19.95px;
    line-height: 29.57px;
    width: 80%;
    margin: 20px 0;
    font-weight: 300;
  }
  &__contents {
    display: flex;
    align-items: start;
    gap: 110px;
  }
  &__link {
    font-size: 21px;
    line-height: 29.57px;
    color: #1c1c1c;
    position: relative;
    display: block;
    font-weight: 300;
    width: fit-content;
    margin-bottom: 10px;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: #1c1c1c;
      height: 1px;
    }
  }
  &__logo {
    margin: 70px 0 20px;
    display: flex;
    align-items: start;

    &-name {
      margin: 60px 0 0 90px;
      position: relative;
      font-size: 21px;
      font-weight: 300;
      line-height: 29.57px;
      text-transform: uppercase;

      &::before {
        content: "";
        position: absolute;
        top: -12px;
        left: -90px;
        width: 90px;
        height: 1px;
        background: #1c1c1c;
        transform: rotate(-40deg);
      }
    }
  }
  .social__media {
    display: flex;
    gap: 5px;
    flex-direction: column;

    &-link {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 21px;
      font-weight: 300;
      line-height: 29.57px;
      color: #1c1c1c;

      span {
        position: relative;
        width: fit-content;

        &::before {
          content: "";
          position: absolute;
          bottom: 2px;
          left: 0;
          width: 100%;
          background: #1c1c1c;
          height: 1px;
        }
      }
    }
  }
  .outline__btn {
    font-size: 16.22px;
    font-weight: 400;
    line-height: 24.19px;
    padding: 16px 28px;
    border-radius: 40px;
    background: #245368;
    color: #fff;
    margin-top: 40px;
  }
}

// media query start
@media screen and (max-width: 1350px) {
  .numbers__swiper .swiper__slide-description,
  .numbers__swiper-two .swiper__slide-description {
    font-size: 13px;
  }
  .numbers__swiper,
  .numbers__swiper-two {
    margin-left: 70px;
  }
}
.swiper-notification {
  display: none;
}
@media screen and (max-width: 1350px) {
  .choose__apartments .plan__desc-wrapper {
    width: calc(50% - 120px);
    right: 0px;
  }
}

@media screen and (max-width: 1200px) {
  .filter__table .filter__table-tr {
    width: 100%;
  }
  .filter__table-header .header__content {
    width: 100%;
  }
  .filter__table-header .header__content > div {
    width: 100%;
  }
}
.media__block {
  display: none;
}
.filter__table .btn__content {
  margin-left: 30px;
}
@media screen and (max-width: 1200px) {
  .filter__table .btn__content .read__more {
    margin-left: 0;
  }
}
@media screen and (max-width: 1100px) {
  .filter__table .filter__table-tr {
    padding-left: 0;
    padding-right: 0;
    width: 90%;
    margin: 0 auto;
  }
  .filter__table .filter__table-tr .img__box {
    display: none;
  }
  .filter__table-header .header__content {
    width: 90%;
    margin: 0 auto;
  }
  .filter__table-header .header__content {
    gap: 0;
    padding-left: 0;
    padding-right: 0;
    justify-content: space-between;
  }
  .filter__table .filter__table-tr .content__box .top p {
    display: none;
  }
  .filter__table .filter__table-tr .content__box {
    p:last-child {
      display: none;
    }
    p {
      font-size: 14px;
    }
  }

  .filter__table .filter__table-tr .content__box .top span {
    font-size: 14px;
    white-space: nowrap;
  }
  .filter__table .filter__table-tr .content__box .top {
    gap: 0;
  }
  .filter__table-header .header__content > div p {
    font-size: 14px;
  }
  .filter__table-header .header__content > div {
    &:nth-child(1),
    &:nth-child(2),
    .media__none {
      display: none;
    }
    &:nth-child(5),
    &:nth-child(4) {
      justify-content: center;
    }
    &:last-child {
      justify-content: end;
    }
  }
  .filter__table .filter__table-tr .content__box p {
    display: none;
  }
  .media__block {
    display: block !important;
    text-transform: uppercase;
  }
  .filter__table-header {
    padding: 38px 0;
  }
  .filter__table .filter__table-tr .content__box {
    margin-left: 0;
  }
  .intro {
    padding: 30px 0 0 0;
    overflow: visible;
    height: fit-content;
  }
  .intro .video-container {
    height: 100%;
  }
  .intro__info-box {
    margin-top: 20px;
    margin-bottom: -50px;
  }
  .intro__description {
    font-size: 14px;
    margin-left: 0;
    max-width: 100%;
    margin-top: 10px;
    br {
      display: none;
    }
  }
  .intro .premium__aparment-box {
    max-width: 786px;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    margin-top: 0;
    margin-left: 54px;
    margin-right: 64px;
    border-radius: 50px;
    transform: translateY(100px);
    padding: 35px;
    background-size: 100% 100%;
  }
  .location__sidebars {
    flex-direction: column;
    gap: 30px;
  }
  .location .map__box {
    border-radius: 30px;
    height: 300px;
  }
  .location__title {
    font-size: 20px;
    line-height: 28px;
  }
  .location .map__box,
  .location__description {
    max-width: 100%;
    width: 100%;
  }
  .location__description-info {
    width: 100%;
  }
  .location .title {
    br {
      display: none;
    }
  }
  .location__swiper .swiper-slide img {
    height: 280px;
    border-radius: 50px;
    object-fit: cover;
  }
  .location__swiper {
    margin-top: 30px;
  }
  .architecture {
    margin-top: 90px;
  }
  .architecture .swiper__content-box {
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 20px;
  }
  .architecture .swiper-container {
    max-width: 90%;
    margin: 0 auto;
  }
  .architecture .swiper__img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 50px;
  }
  .architecture .swiper__content-info {
    width: 100%;
  }
  .architecture .swiper__desc {
    font-size: 14px;
    line-height: normal;
  }
  .architecture .swiper__title {
    font-size: 20px;
    line-height: 26px;
  }
  .architecture__swiper-two {
    .badge {
      display: none;
    }
  }
  .choose__apartments .title__box {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
  .choose__apartments .title__box .description {
    width: 100%;
    margin-bottom: 30px;
  }
  .choose__apartments .plan__desc-wrapper {
    position: relative;
    width: 100%;
    max-width: 100%;
    top: 0;
    border-radius: 40px;
    padding: 50px;
  }
  .choose__apartments-bg {
    max-width: 100%;
    border-radius: 40px;
    object-fit: cover;
  }
  .choose__apartments {
    margin-top: 30px;
  }
  .choose__apartments .plan__desc-wrapper .plan__desc,
  .choose__apartments .plan__desc-wrapper-header h4,
  .choose__apartments .plan__desc-wrapper .plan__desc-bold {
    font-size: 14px;
    line-height: normal;
  }
  .choose__apartments .plan__desc-wrapper .plan__desc-btn {
    font-size: 12px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .choose__apartments .plan__desc-wrapper .plan__title {
    font-size: 20px;
  }
  .numbers.partners .container {
    display: block;
  }
  .partners .swiper {
    margin: 30px 0 0 0;
  }
  .partners .swiper-slide {
    justify-content: start;
    gap: 100px;
  }
  .partners__logo {
    width: 40%;
  }
  .footer {
    margin: 80px 0 40px 0;
  }
  .footer__contents {
    flex-direction: column;
    gap: 60px;
  }
  .footer__content-left {
    width: 100%;
  }
  .footer__logo-name {
    font-size: 14px;
    br {
      display: none;
    }
  }
  .footer__logo-name::before {
    transform: rotate(-30deg);
    top: -5px;
  }
  .footer .social__media-link span {
    font-size: 14px;
  }
  .footer .outline__btn {
    margin-top: 15px;
    font-size: 12px;
    padding: 15px 27px;
  }
  .footer__title {
    font-size: 20px;
    line-height: 28px;
    line-height: normal;
  }
  .footer__desc {
    font-size: 14px;
    width: 100%;
    margin: 20px 0 0 0;
    line-height: normal;
  }
  .footer__link {
    font-size: 14px;
    margin-bottom: 10px;
    &::before {
      bottom: 2px;
    }
  }
  .intro .menu {
    max-width: 100%;
    padding: 60px 50px;

    .link__logo {
      width: 100px;
      height: 100px;
    }
  }
  .intro .menu__link-btn {
    font-size: 13px;
    padding: 5px 17px;
  }
  .intro .menu__btn {
    font-size: 12px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
  }
  .intro .menu .phone__box {
    font-size: 15px;

    img {
      width: 25px;
      height: 25px;
    }
  }
  .intro .menu__close-btn {
    width: 43px;
    height: 43px;
  }
  .leave__request {
    padding: 60px 100px;
  }
  .close__contact-btn {
    position: absolute;
    right: 70px;
    top: 40px;
  }
  .leave__request .form .privacy__policy-agreement {
    br {
      display: none;
    }
  }
  .leave__request .form .multi__select-boxes {
    flex-direction: column;
  }
  .leave__request .form .multi__select-boxes .form__input,
  .leave__request .form .form__input {
    width: 100%;
  }
  .leave__request .form__input-box {
    flex-direction: column;
  }
  .leave__request .form .send__btn {
    margin: 20px 0;
  }
  .select__filter .filter__top p,
  .select__filter .filter__top button {
    font-size: 14px;
  }
  .select__filter .filter__top {
    flex-direction: column;
    row-gap: 0;
  }
  .select__filter .filter__top button img {
    width: 10px;
    height: 10px;
  }
  .select__filter-inputs {
    flex-direction: column;
  }
  .select__filter .select__form h5 {
    font-weight: 300;
    font-size: 14px;
  }
}

@media screen and (max-width: 1015px) {
  .footer__logo {
    flex-direction: column;
  }
  .numbers__swiper,
  .numbers__swiper-two {
    max-width: 50%;
    margin-left: auto;
    margin-right: 0;
  }
  .numbers .title {
    width: 35%;
  }
  .numbers__swiper .swiper__slide-description::before {
    width: 120px;
    height: 1px;
    background-color: #1c1c1c;
    transform: rotate(-10deg);
    position: relative;
    display: block;
    top: -8px;
    left: 0;
  }
  .numbers__swiper .swiper__slide-description,
  .numbers__swiper-two .swiper__slide-description {
    margin-left: 0;
    br {
      display: none;
    }
  }
  .location__title.last {
    margin-top: 30px;
  }
  .choose__apartments .title__box .description {
    font-size: 14px;
    line-height: normal;
  }
}

@media screen and (max-width: 992px) {
  .footer__logo img {
    width: 250px;
  }
  .numbers {
    margin: 140px 0 0 0;

    &.partners {
      margin-top: 50px;
    }
  }
  .footer__contents {
    gap: 30px;
  }
  .location {
    margin-top: 35px;
  }
  .numbers__swiper,
  .numbers__swiper-two {
    margin: 0;
  }
  .title,
  .numbers__swiper .swiper__slide-title,
  .numbers__swiper-two .swiper__slide-title {
    font-size: 40px;
  }
  .numbers__swiper .swiper__slide-description,
  .numbers__swiper-two .swiper__slide-description {
    line-height: normal;
    margin-top: 13px;
  }
  .numbers__swiper .swiper__slide-description::before {
    top: -18px;
  }
  .partners .swiper {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .location__description-info {
    font-size: 15px;
    line-height: normal;
  }
  .architecture {
    margin-top: 50px;
  }
  .leave__request {
    padding: 60px 37px;
  }
  .close__contact-btn {
    position: absolute;
    right: 33px;
    top: 33px;
  }
  .leave__request .form .multi__select-boxes .form__input,
  .leave__request .form .form__input {
    height: 57px;
  }
  .filter__table .btn__content {
    margin-left: 20px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 576px) {
  .intro .video-container iframe,
  .intro .video-container video {
    height: 100%;
    width: 100vw;
    transform: scaleY(3);
  }
  .intro .video-container {
    height: 65%;
  }
  .intro .premium__aparment-box {
    transform: translateY(51px);
    margin-left: 20px;
    margin-right: 50px;
  }
  .intro .video-container {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }
  .intro .video-container::after {
    height: 100%;
    border-radius: 0;
  }
  .header__call.media__block {
    align-items: center;
    display: flex !important;
  }
}
@media screen and (max-width: 480px) {
  .numbers__swiper-two .swiper__slide-description {
    margin-top: 40px;
  }
  .partners .swiper__slide-description::before {
    top: 5px;
    left: -120px;
  }
  .header .outline__btn {
    padding: 0 23px;
  }
  .intro .premium__aparment-box {
    margin-left: 24px;
  }
  .intro .premium__aparment-box .description {
    font-size: 14px;
  }
  .header {
    flex-wrap: wrap;
    row-gap: 1rem;
  }
}
